.header-div-show,
.header-div-hide {
    display: flex;
    flex-direction: column;
    max-width: 100vw;opacity: 1;
    position: fixed;
    top: 0;
    min-width: 100vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: 10000000000;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}
#header-div-ham{
    margin-left: 4px;
    color: rgb(0, 0, 0);
}
.header-div-show {
    padding: 15px 0 0;
    height: 100px;
    transform: translateY(0);
    opacity: 1; /* Fully visible */
}

.header-div-hide {
    padding: 10px 0 0;
    transform: translateY(-55px);
}

.header-div-user {
    display: flex;
    height: 52px;
    padding: 0 10px;
    opacity: 1;
    pointer-events: auto; /* Enable interaction */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition */
}

#header-div-user-location-div {
    padding-left: 10px;
}

#header-div-user-location {
    font-size: 16px;
    font-weight: 900;
}
.header-div-parent{
    display: flex;
    justify-content: space-between;align-items: center;
}
.header-div-parent-refurbished{
    margin-right: 30px;
}
#header-div-user-location-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 900;
  color: rgb(0, 0, 0);}

#header-div-search-div {
    height: 40px;
    padding: 0px 7px 7px 7px;
    display: flex;
}

#header-div-search-div-1 {
    display: flex;
    justify-content: center;border: 1px solid black;
    align-items: center;
    background-color: white;
    border-radius: 11px;
    flex-grow: 1; /* Correct flex-grow value */
}

#header-div-search-div-search {
    font-size: 29px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}
/* For Chrome, Edge, and Safari */
/* Target #header-div-input for autofill in Chrome, Edge, and Safari */
#header-div-input:-webkit-autofill,
#header-div-input:-webkit-autofill:hover,
#header-div-input:-webkit-autofill:focus {
    background-color: white !important;
    color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}


/* General input styling */
#header-div-input {
    border: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-left: 10px;
    flex-grow: 1; /* Allow input to grow */
    outline: none;
    background-color: white;
}
