#home-div{
    display: flex;flex-direction: column;
    background-color: rgb(221, 227, 235);
    min-height: 100vh;margin-top: 130px;
}
#home-body{
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    padding-top: 20px;padding-left:5px ;padding-right: 5px;
}
#home-body-img{
    width: 95%;
}
#home-footer{
    width: 100vh;display: flex;
    color: white;font-weight: 800;
    height: 60px;background-color: rgb(70, 195, 172);
    position: fixed;
    bottom: 0;z-index: 900000;
}
#home-footer-sortby{
 display: flex;width: 50vw;
 justify-content: center;align-items: center;
 
}
#home-footer-filterby{
    display: flex;width: 50vw;
    justify-content: center;align-items: center;
}



.all-product-page-grid {
    display: grid;
    flex-wrap: wrap;justify-content: center;align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; margin-top: 20px;
}
