#loading-home-body-img{
    color: black;
    width: 95vw;align-self:center;
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
margin-top: 15px;
    background-color: #157168; /* Placeholder color */
    animation: pulse 3s infinite; /* Pulsing animation */
}
#loading-home-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

#loading-home-page-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
}

.loading-page-product-card {
    color: black;
    width: 47vw;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-top: 10px;
    z-index: 3;border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;

    background-color: #00ffe5; /* Placeholder color */
    animation: pulse 3s infinite; /* Pulsing animation */
}

.loading-page-product-card-top {
    height: 150px; /* Height for loading image placeholder */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.loading-page-product-card-bottom {
    padding: 10px;
    height: 90px;
    text-align: center;
}

/* Pulsing animation */
@keyframes pulse {
    0% {
        background-color: #bff8f2; /* Lighter shade */
    }
    50% {
        background-color: #8ff7de; /* Medium shade */
    }
    100% {
        background-color: #ddf7f7; /* Darker shade */
    }
}
