#shop-page-search-container {
   width: 96vw;
   display: flex;
   background-color: rgb(255, 255, 255);
   position: fixed;
   margin-top: 8.5px;
   justify-content: center;
   align-items: center;
   border: 0.0005px solid rgba(0, 0, 0, 0.365);
   top: 0px;
   border-radius: 5px;
}

#shop-page-search-top {
   width: 100%;
   height: 57px;
   position: fixed;
   top: 0;
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 999;
}

#shop-page-search-bar {
   width: 100%;
   border: none;
   outline: none;
   padding: 10px;
   padding-left: 0px;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#shop-page-search-container input {
   color: black;
}

#shop-page-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 60px;
   margin-bottom: 100px;
}

#shop-page-grid::-webkit-scrollbar {
   display: none;
}
.filter-options-search-page{
   margin-top: 60px;
}


#filter-search-shop-pincode-options{
   max-height: 60vh;overflow: scroll;
}
#shop-search-container-top {
   width: 100%;
   height: 57px;position: fixed;
   top: 0;
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 999;
}
#shop-search-container-top-div {
   width: 96vw;
   display: flex;
   position: fixed;
   margin-top: 8.5px;
   justify-content: center;
   align-items: center;
   border: 0.0005px solid rgba(0, 0, 0, 0.365);
   top: 0px;
   border-radius: 5px;
}
#search-shop-grid{
   min-height: 80vh;margin-top: 60px;overflow: scroll;
   margin-bottom: 75px;
}
#shop-search-bar {
   width: 100%; /* Makes the search bar full width */
   border: none; /* Removes the border */
   outline: none; /* Removes default focus outline (optional) */
   padding: 10px; /* Add padding if needed for better aesthetics */
   padding-left: 0px;
   box-sizing: border-box; /* Ensures padding is included in the element's total width */
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.search-shop-page-filter-option-title{
   display: flex;padding: 10px;justify-content: space-between;
   width: 90%;font-weight: 900;font-size: 20px;
}
#filter-pincode-options,#filter-category-options,#filter-brand-options{
   width: 100%;max-height: 40vh;
   overflow: scroll;
}