#product-page-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    margin-bottom:200px;
}

#product-search-container-top {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    background-color: rgb(135, 162, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
#search-header-div-search-div-1 {
    display: flex;
    justify-content: center;border: 1px solid black;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
   width: 97%;height: 40px;
}
#search-page-header-div-input:-webkit-autofill,
#search-page-header-div-input:-webkit-autofill:hover,
#search-page-header-div-input:-webkit-autofill:focus {
    background-color: white !important;
    color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}
#header-div-search-div-search {
    font-size: 29px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

/* General input styling */
#search-page-header-div-input {
    border: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-left: 10px;
    flex-grow: 1; /* Allow input to grow */
    outline: none;
    background-color: white;
}



#product-search-container-top-div {
    width: 96vw;
    display: flex;
    position: fixed;
    margin-top: 6.5px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border: 0.0005px solid rgba(0, 0, 0, 0.365);
    top: 0px;
    border-radius: 5px;border-radius: 5px;
    border: 1px solid black;
    height: 40px;
}

#product-search-bar-input {
    width: 100%;
    color: black;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    font-size: 16px;
}
#product-search-bar-input:placeholder-shown{
    font-size: 15px;margin-left: 10px;
}
#product-page-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-top: 20px;
}

/* FOOTER DONE */
#product-footer {
    width: 100vh;
    display: flex;
    color: rgb(255, 255, 255);
    font-weight: 900;
    height: 60px;
    background-color: rgb(135, 162, 255);
    position: fixed;
    bottom: 0;
    z-index: 900000;
}

#product-footer-sortby,
#product-footer-filterby {
    display: flex;
    width: 50vw;font-size: 19px;
    justify-content: center;
    align-items: center;
}



/* FILTER OPTION */
.product-filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-top: 30px;
}

.search-shop-page-filter-option-title {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px solid black;
    font-weight: 900;
    font-size: 25px;
}
.search-shop-page-sortby-option-title{
    display: flex;
    padding: 15px;
    justify-content: space-between;
  
    border-bottom: 1px solid black;
    font-weight: 900;
    font-size: 25px;
}
#filter-section-product-page {
    background-color: rgb(135, 162, 255);
    width: 100vw;color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    font-size: 20px;
    font-weight: 900;
    position: fixed;
    top: 0;
}

#filter-options-product-page {
    width: 100vw;
}

.pincode-item-selected,
.pincode-item-unselected {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid black;
}

.pincode-item-selected {
    background-color: rgb(13, 255, 8);
}

.pincode-item-unselected {
    background-color: rgb(251, 255, 255);
}

#product-sort-by-header {
    height: 57px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(135, 162, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 900;
}

#sortby-options {
    margin-top: 77px;
}

.pincode-item-product-page-card {
    margin: 3px;
    font-size: 19px;
    font-weight: 900;
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px;
}
.pincode-item-search-page-card{
    display: flex;font-size: 19px;margin-left: 20px;
    padding: 10px;font-weight: 900;
}
.product-page-pagination-controls-next-button-p{
  border-radius: 5px;background-color: black;color: white;
    padding: 15px;font-size: 20px;
}
.product-page-pagination-controls-p{
    width: 100vw;height: 70px;
    margin-top: 50px;display: flex;justify-content: center;
    align-items: center;
}


#product-page-sortby-options{
    margin-top: 37px;
}
.search-page-load-more-container{
    display: flex;justify-content: center;align-items: center;
    margin-top: 20px;
}