#search-product-page-container{
    width: 100%;background-color: rgb(255, 255, 255);
    display: flex;flex-direction: column;  min-height: 100vh;
}
.search-product-page-query{
    padding-left: 2.5vw;width:fit-content;
    margin-top: 1px;color: rgb(0, 0, 0);height: 60px;
    font-size: 13px;
}

#search-product-page-grid {
    width: 100%;
    display: flex;
   flex-wrap: wrap;justify-content: center;
    gap: 3px;
    margin-top: 20px;
}
#search-container-top-div{
   width: 96vw;display: flex;background-color: rgb(221, 223, 223);
   position:fixed ;margin-top: 8.5px;
   border: 1px solid black;
   top: 0px;border-radius: 5px;
}
#search-container-top{
    width: 100%;height: 57px;position:fixed ;top: 0;
    background-color: rgb(255, 255, 255);display: flex;
    align-items: center;justify-content: center;
}
#search-container-top-div input{
    color: black;
}

/* Container for the search bar */
#search-container {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
}

/* Styling for the input element */
#search-bar {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 16px; /* Adjust font size as needed */
}


#searchpage-footer{
    width: 100vh;display: flex;
    color: white;font-weight: 800;
    height: 60px;background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;z-index: 900000;
}
#searchpage-footer-sortby{
 display: flex;width: 50vw;
 justify-content: center;align-items: center;
 
}
#searchpage-footer-filterby{
    display: flex;width: 50vw;
    justify-content: center;align-items: center;
}

.searchpage-filter-section{
    background-color: rgb(255, 255, 255);width: 100%;
    height: 100vh;
}