.shop-fragment-container {
    max-width: 100vw;
    overflow-x: scroll;
    height: 270px;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    gap: 3px;
    scrollbar-width: 0;
}

.shop-fragment-container::-webkit-scrollbar {
    display: none;
}

.shop-fragment-card {
    min-width: 150px;
    max-width: 150px;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-fragment-card-top-image {
    width: 100%;
}

.shop-fragment-card-shop-price {
    display: flex;
    flex-direction: column;
    font-size: 5px;
    height: 100%;
    padding: 3px 5px;
    font-weight: 900;
    justify-content: space-between;
}

.shop-fragment-card-bottom {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.shop-fragment-card-shop {
    font-size: 15px;
    font-weight: 900;
}

.shop-fragment-card-shop-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12.5px;
    font-weight: 900;
    letter-spacing: 1;
}

.shop-fragment-card-bottom-cart-icon {
    background-color: black;
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-fragment-card-bottom-stock {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: palevioletred;
    font-weight: 600;
    border-radius: 5px;
    font-size: 19px;
    border: 1px solid palevioletred;
    width: 97%;
    min-height: 40px;
    max-height: 40px;
}
