#product-details-search-container-top-div {
    width: 96vw;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: fixed;
    margin-top: 8.5px;
    justify-content: center;
    align-items: center;
    border: 0.0005px solid rgba(0, 0, 0, 0.365);
    top: 0px;
    border-radius: 5px;
 }
 
 #product-details-search-container-top {
    width: 100%;
    height: 57px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
 }
 
 
 #product-details-search-bar {
    width: 100%; /* Makes the search bar full width */
    border: none; /* Removes the border */
    outline: none; /* Removes default focus outline (optional) */
    padding: 10px; /* Add padding if needed for better aesthetics */
    padding-left: 0px;
    box-sizing: border-box; /* Ensures padding is included in the element's total width */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 #product-details-search-container-top-div input {
    color: black;
 }

 


#product-details-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 57px;
}

#product-details-img {
    height: 255px;
    display: flex;
    justify-content: center;
}

#product-details-img-selected {
    height: 220px;
    display: flex;
    background-color: rgb(0, 0, 0);
}

#product-details-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    min-height: 85px;
}

#product-details-trending-deals {
    background-color: rgba(252, 203, 140, 0.571);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 13px;
    padding: 4px;
    color: rgb(215, 63, 88);
    border-radius: 4px;
    width: fit-content;
}

#product-details-pid {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
}

#product-details-title {
    font-weight: 900;
}

#product-details-see-all-brand-product {
    padding: 0 10px;
    font-size: 13px;
    font-weight: 900;
    color: rgb(212, 76, 212);
}

#product-details-shop {
    padding: 0px 10px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

#product-details-price-button {
    margin: 10px 0px 30px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#product-details-price-button p {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-details-price-instock {
    width: 100px;
    background-color: rgb(67, 208, 123);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    padding: 2px;
}

#product-details-hr {
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.358);
    height: 0.1px;
}

#product-details-about {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product-details-description {
    padding: 10px;
    font-size: 10px;
}

#product-details-similar {
    padding: 20px 10px 10px 10px;
    font-weight: 900;
    font-size: 17px;
}
