.retailer-home{
    width: 30vw;display: flex;flex-direction: column;
    margin-top: 150px;
    width: 100vw;align-items: center;justify-content: center;
}
.retailer-home-png{
    max-width: 30vw;
}
.retailer-open-closed-div{
    font-weight: 900;
    margin-top: 20px;
}

.retailer-div-open-input{
padding: 10px;margin: 30px 0px 10px 0px;
width: 50vw;background-color: rgb(123, 231, 123);
}

.retailer-div-closed-input{
    padding: 10px;margin: 10px;
    width: 50vw;
    background-color: rgb(243, 121, 121);
}